@import "tailwindcss";

@theme {
  /* This creates your custom color palette */
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #22c55e;
  --color-brand-900: #064e3b;
  --color-earth-900: #451a03;
}

/* Base styles */
body {
  background-color: #f8fafc;
  color: #535c0d;
}